body{
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: grey;
  -webkit-font-smoothing: antialiased;
}
/* main */
h2.title{
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}
a{
  color: inherit;
  text-decoration: none;
}
.newsletter{
  width: 700px;
  height: 992px;
  background-color: white;
}
table{
  border: none;
  border-spacing: 0;
}
table.item tbody > tr{
  height: 0;
}
thead{
  width: 100%;
  background-size: cover;
  background-image: url(../images/header.png);
}
thead th{
  height: 295px;
  color: white;
  text-align: left;
  padding: 0 27px;
}
thead th > p{
  font-weight: 400;
  margin: 45px 0 0;
}
tbody tr{
  height: 697px;
  vertical-align: top;
}
td.left{
  width: 270px;
  padding: 60px 20px 20px;
  background-size: cover;
  background-image: url(../images/sidebar.png);
}
td.right{
  width: 430px;
  padding: 60px 40px 30px;
  background-color: #fff;
}
h2.title{
  font-size: 14px;
  margin: 0 0 20px;
  text-transform: uppercase;
}
td.left h2.title{
  color: #fff;
}
td.right h2.title{
  color: #1E5895;
}
td.right .box{
  margin-bottom: 60px;
}
td.right .box p{
  font-size: 11px;
  font-weight: 300;
  text-align: justify;
}
td.right .box a > img{
  width: 94px;
  margin-top: 10px;
}
table.item tbody{
  color: white;
}
table.item tbody tr{
  display: table;
  padding-bottom: 30px;
}
table.item td.item-number{
  width: 40px;
}
table.item td.item-number .number{
  width: 27px;
  height: 27px;
  text-align: center;
  background-size: cover;
  background-image: url(../images/circle.png);
}
table.item td.item-number .number > span{
  font-size: 13px;
  font-weight: 600;
}
table.item td > h3{
  font-size: 13px;
  margin: 0;
}
table.item td > p{
  font-size: 11px;
  font-weight: 300;
  margin: 0;
}